jadx-1.5.1
output/reversedAPK
output/.DS_Store
output
src/__pycache__
src/conversation/__pycache__
src/postprocess/__pycache__
src/preprocess/__pycache__
src/preprocess/._apk_decompile.py
src/preprocess/__init__.py
.DS_Store
src/conversation/__init__.py
src/postprocess/._Final_report_Generation.py
src/postprocess/._txt2markwon_and_html.py
src/__init__.py

# Extracted result / source-code data
TraceRAG_result_and_source/
__MACOSX/
